.hero {
  display: flex;
  flex-direction: column;
  margin: 34px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.links {
  display: flex;
  gap: 42px;
  margin-bottom: 40px;
}

footer a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

h2 span {
  color: #ee24ff;
  font-weight: 700;
}

.texts {
  max-width: 540px;
}

.texts p {
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.texts p strong {
  color: #3f3d56;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.texts .grey {
  color: #828282;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.line {
  width: 391px;
  height: 0;
  margin: 0 8px;
  border: 1px solid #eceff2;
}

.wave {
  width: 100%;
  position: fixed;
  bottom: 0;
}